* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Metrophobic", sans-serif;
  /* font-family: 'Raleway', 'Verdana', sans-serif; */
  /* font-size: 1rem; */
  color: greenyellow;
}

body {
  color: greenyellow;
}

.bgImgMap {
  /* background-image: url(../img/map6-changedColor2.png); */
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  /* background-color: #E0C1FF; */
  background-color: #110B0B;
  height: 100vh;
}

a {
  text-decoration: none;
}

.h1 {
  font-size: 1.2em;
  margin: 50px;
  text-align: center;
  grid-column: 3/5;
  grid-row: 2/4;
  /* border: solid 2px blue; */
}