* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Metrophobic", sans-serif;
  /* font-family: 'Raleway', 'Verdana', sans-serif; */
  color: greenyellow;
}

body {
  color: greenyellow;
}

.bgImgMap {
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  background-color: #110B0B;
  height: 100vh;
  margin-top: 30px;
}

.container {
  display: flex;
  flex-flow: column;
  width: 60vw;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #812FFF;
}

.h1 {
  font-size: 1.2em;
  margin: 50px;
  text-align: center;
  grid-column: 3/5;
  grid-row: 2/4;
}